html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    position: relative;
    background-color: #333333;
    display: inline-block;
    vertical-align: top;
    height: calc(100vh - 13px);
    width: 49px;
    padding-top: 13px;
    overflow: hidden;
}

.menu:hover{
    width: 250px;
}

.menu:hover .menu-text{
    display: inline-block;
}

.submenu{
    display: none;
    position: absolute;
    top: 0;
    left: 50px;
}

.menu-item {
    height: 40px;
    width: 100%;
}

.selected{
    background-color: #333333;
}

.selected:hover{
    background-color: #444444;
}

.bottom-item-first {
    position: absolute;
    bottom: 40px;
}

.bottom-item-second {
    position: absolute;
    bottom: 0;
}

.background-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 7px;
}

.menu-text{
    display: none;
    vertical-align: super;
}

.menu-text span{
    color: #9B9B9B;
    font-size: 13px;
}

.params {
    background-image: url('../icon/params.png');
}

.clock {
    background-image: url('../icon/clock.png');
}

.tools {
    background-image: url('../icon/tools.png');
}

.eye {
    background-image: url('../icon/eye.png');
}

.note {
    background-image: url('../icon/note.png');
}

.info {
    background-image: url('../icon/info.png');
}

.plus {
    background-image: url('../icon/plus.png');
}

.minus {
    background-image: url('../icon/minus.png');
}

.graph {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}